<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="shortcut icon" type="image/ico" href="http://www.ic.unicamp.br/themes/siteictheme/logo.png" />
		<title>Sistema de Controle de Patrim&ocirc;nio - Instituto de Computa&ccedil;&atilde;o</title>
		
		<style type="text/css" title="currentStyle">
			@import "media/css/demo_page.css";
			@import "media/css/jquery.dataTables.css";
		</style>
		<style>
			#header {
				width: 100%;
				margin: 0;
				background-color: #4E6CB7;
				text-align: left;
				color: #FFFFFF;
				padding: 12px;
				text-shadow: none;
				font-size: 20px;
			}
			#header a {
				color: #FFFFFF
			}

			.error {
				color: #f00;
				font-size: 18pt;
			}
		</style>
</head>
<body>
<body id="dt_example">
		
		<div id="header">
			<a href="home" style="margin-left: 5%">Tela Inicial</a>			
			<a href="login" style="margin-left: 5%">Entrar</a>
		</div>
		
		<div id="container">
			<div class="full_width big">
				Sistema de Controle de Patrim&ocirc;nio - Instituto de Computa&ccedil;&atilde;o
			</div>
			<div id="demo">
				<p id="erro" class="error">Combina&ccedil;&atilde;o incorreta. Por favor, verifique usu&aacute;rio e senha.</p>			
				<p><a href="login">Voltar</a></p>
			</div>
		</div>
</body>
</html>
