<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">


<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="shortcut icon" type="image/ico" href="http://www.ic.unicamp.br/themes/siteictheme/logo.png" />
		<title>Sistema de Controle de Patrim&ocirc;nio - Instituto de Computa&ccedil;&atilde;o</title>
		
		<style type="text/css" title="currentStyle">
			@import "media/css/demo_page.css";
			@import "media/css/jquery.dataTables.css";
		</style>

		<style>
			#header {
				width: 100%;
				margin: 0;
				background-color: #4E6CB7;
				text-align: left;
				color: #FFFFFF;
				padding: 12px;
				text-shadow: none;
				font-size: 20px;
			}
			#header a {
				color: #FFFFFF
			}
		</style>

		<script type="text/javascript" language="javascript" src="media/js/jquery-1.10.2.js"></script>
		<script type="text/javascript" language="javascript" src="media/js/jquery.dataTables.js"></script>

	</head>

	<body id="dt_example">
		
		<div id="header">
			<a href="home2" style="margin-left: 5%">Home</a>
			<a href="busca" style="margin-left: 5%">Lista de Bens</a>
			<a href="upload" style="margin-left: 5%">Enviar arquivo</a>
			<a href="home" style="margin-left: 5%">Logout</a>
		</div>
		
		<div id="container">
			<style>
				#title {
					text-align: center;
					color: #000000;
					padding: 12px;
					text-shadow: none;
					font-size: 40px;
				}
			</style>
			<div class="full_width big">
				<center>
					<font size=6>  
						Sistema de Controle de Patrim&ocirc;nio - Instituto de Computa&ccedil;&atilde;o
					</font>
				</center>
			</div>


			<div id="demo" style="text-align: center;">
							<img src="media/images/logo_ic.png" /> 
				
			</div>
		</div>
	</body>
</html>
